<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 m-auto mt-5">
            <h3 class="text-center">ĐĂNG NHẬP HỆ THỐNG</h3>
            <div class="p-4 border mt-4">
                <!--
                    - thuộc tính action: đường dẫn khai báo bên trong thuộc tính sẽ được gọi khi click vào submit button
                      Dữ liệu mà người dùng nhập trong các thẻ input (select, checkbox, radio,...) sẽ được gửi qua đường dẫn đó.
                    - thuộc tính method: quy định phương thức gọi đường dẫn được khai báo bên trong thuộc tính action
                    - thuộc tính name của các thẻ input: giá trị thuộc tính chính là tên tham số,
                    giá trị mà người dùng nhập (chọn) sẽ là giá trị truyền cho các tham số đó
                -->
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" th:value="${email}">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" name="password" th:value="${password}">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember">
                        <label>Lưu tài khoản</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
            </div>
            <!--
                th:text="${ten_bien}" -> xuất giá trị của biến bên java ra thẻ html (thẻ h4)
                th:if="${isSuccess == false}" -> Nếu giá trị của isSuccess là false thì sẽ hiển thị thẻ h4, ngược lại không hiển thị thẻ h4
            -->
            <h4 class="text-center text-danger mt-3" th:if="${isSuccess == false}">Đăng nhập thất bại</h4>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
